    {% if page.dir contains "manuals" %}
    {% include nocopy.html %}
    {% endif %}
<div align="center" class="my-2"><a href="{{ "/shop" }}"><img class="img-fluid my-1" alt="visual link to shop page" src="{{ "assets/buttons/ckpshopani.gif" | relative_url }}" width="400" height="100" border="0"></a></div>
<h4 align="center">This site requires java script to be enabled for easy navigation</h4>
<h5 class="text-center">Cyndy Kitt Productions items are available from<br>
  <a href="http://www.annebonnyslocker.com.au">Anne Bonny's Locker</a> </h5>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
