    {% if page.dir contains "pricelist" %}
    {% include jumpform.html %}
    {% elsif page.dir contains "manuals" %}
    {% include nocopy.html %}
    {% endif %}
<div align="center" class="my-2"><a href="{{ "/shop" }}"><img src="{{ "assets/buttons/ckpshopani.gif" | relative_url }}" width="400" height="100" border="0"></a></div>
<h4 align="center">This site requires java script to be enabled for easy navigation</h4>
<h5 class="text-center">Cyndy Kitt Productions items are available from<br>
  <a href="http://www.annebonnyslocker.com.au">Anne Bonny's Locker</a> </h5>
