<div align="center"> 
    {% if page.dir contains "main" or page.dir contains "media" %}
    <p><img class="img-fluid" alt="Cyndy Kitt Productions logo" src="{{ "assets/pic/ckp.gif" | relative_url }}" width="375" height="300"></p>
    {% elsif page.dir contains "sewing" %}
    <img class="img-fluid" alt="Cyndy Kitt Productions stitchery logo" src="{{ "assets/pic/banner.stit.gif" | relative_url }}" width="800" height="250">
    {% elsif page.dir contains "machine" or page.dir contains "stock" or page.dir contains "pricelist" or page.dir contains "manuals" or page.dir contains "serv" %}
    <p><img class="img-fluid" alt="Cyndy Kitt Productions logo" src="{{ "assets/pic/banner2.gif" | relative_url }}" width="800" height="250"></p>
    {% else %}
    <!--{{page.dir}}-->
    {% endif %}
{%- include navbar.md -%}
{% unless page.dir contains "bone" %}
  <h1><!-- #BeginEditable "Heading" -->{{page.title}}<!-- #EndEditable --></h1>
{% endunless %}
</div>
    {% if page.dir contains "stock" or page.dir contains "pricelist" or page.dir contains "manuals" %}
    {% include jumpform.html %}
    {% endif %}
