<div class="text-center my-4">
<form name="form2">
    <select name="select" onchange="MM_jumpMenu('parent',this,0)">
      <option value="{{ "pricelist" | relative_url }}" selected="">Price List Index</option>
      <option value="{{ "pricelist/p01.html" | relative_url }}">Belts, Balance Wheels, Hand Cranks &amp; Electric Motors</option>
      <option value="{{ "pricelist/p02.html" | relative_url }}">Shuttles, Bobbin Cases &amp; Bobbins</option>
      <option value="{{ "pricelist/p03.html" | relative_url }}">Slide &amp; Throat Plates</option>
      <option value="{{ "pricelist/p04.html" | relative_url }}">Tension Parts</option>
      <option value="{{ "pricelist/p05.html" | relative_url }}">Feet &amp; Attachments</option>
      <option value="{{ "pricelist/p06.html" | relative_url }}">Needles</option>
      <option value="{{ "pricelist/p07.html" | relative_url }}">Useful Bits</option>
      <option value="{{ "pricelist/p08.html" | relative_url }}">Treadle &amp; Cabinet Parts</option>
      <option value="{{ "pricelist/p09.html" | relative_url }}">Tools</option>
      <option value="{{ "manuals" | relative_url }}" >Manuals</option>
    </select>
    <input type="button" name="Button2" value="Go" onclick="MM_jumpMenuGo('Price List','parent',0)">
    <span id="cartlink" style="visibility:hidden"><a href="{{ "pricelist/cart.html" | relative_url }}"><img alt="shopping cart" src="{{ "assets/buttons/cart-40.png" | relative_url }}"/>Your cart</a></span>
</form>
</div>

