<p class="text-center"><a href="./index.html">return to index</a></p>
<div class="container">
<div class="row">
<div class="col-2">&nbsp; </div>
<div class="col">
<p class="h5 font-weight-bold">No copyright is to be inferred by these reproduction manuals, I only produced it to assist fellow vintage sewing machine enthusiasts and seek only to be compensated a little for the time spent digitally reconstructing and the expense of printing.</p>
</div>
<div class="col-2">&nbsp; </div>
</div><!-- end row -->
</div><!-- end container -->
