<script>
var allItems = localStorage.getItem('cart');
var items = JSON.parse(allItems);
if(items.length == 1){
    document.write('<!--<p>There is <span id="itemcount">' + items.length + '</span> item in your basket</p>-->');
}
else{
    document.write('<!--<p>There are <span id="itemcount">' + items.length + '</span> items in your basket</p>-->');
}
var table = '<form action="null"><table id="cart1" border="1" class="mb-3" style="visibility:visible;width:100%">';
table += '     <thead>';
table += '          <tr>';
table += '              <th>Product</th>';
table += '              <th class="text-center">Price</th>';
table += '              <th class="text-center">Qty</th>';
table += '              <th class="text-center">Total</th>';
table += '              <th class="text-center">Delete Item</th>';
table += '         </tr>';
table += '     </thead>';
table += '     <tbody id="cartBody">';
if(items.length != 0)
{
    document.write(table);
    for (i = 0; i < items.length; i++)   {
        document.write('<tr><td><input type="hidden" name="item-' + i + '" value="' + items[i].Product + '"/>' + items[i].Product + " " + items[i].Desc + '</td><td><input type="hidden" name="price-' + i + '" value="$' + items[i].Price + '"/>$' + items[i].Price + '</td><td><input type="hidden" name="qty-' + i + '" value="' + items[i].Qty + '"/>' + items[i].Qty + '</td><td><input type="hidden" name="total-' + i + '" value="$' + (items[i].Qty * items[i].Price) + '"/>$' + (items[i].Qty * items[i].Price).toFixed(2) + "</td><td><button onClick='deleteItem(\"" + i + "\")'>Delete</button></td></tr>");
    }
    document.write("</tbody></table>");
}
</script>
