.tbToolbar {
	border-top: 4px solid #8b583d;
	border-bottom: 4px solid #8b583d;
	background-color: transparent;
	width:auto;
	height: auto;
	padding-top:2px;
	padding-bottom:2px;
	padding-left:15px;
	padding-right : 15px;
	margin: 50px;
	color: #8b583d;
	text-align : center;
	position: static;
}
.tbSubMenu {
	border: 2px solid #FFFFF0;
	background-color: #DCC2B4;
	color: #8B4513;
	padding:2px;
	display: none;
	cursor: hand;
	position: absolute;
	text-align : inherit;
	width : 150px;
}
.tbItem {
	padding-left:2px;
	padding-right:2px;
	margin:2px;
	text-decoration: none;
	border: 2px solid #FFFFF0;
	text-align : center;
	background-color : #8b583d;
	color : White;
	width : 160px;
	font-family : "MS Serif", "New York", serif;
	font-size : large;
	font-weight : bold;
        float:left;
        list-style: none;
}
.tbItemSelected {
	padding-left:2px;
	padding-right:2px;
	margin:2px;
	text-decoration: none;
	border: 2px solid #8b583d;
	background-color: #FFFFF0;
	color: #8b583d;
	position:relative;
	text-align : center;
	width : 150px;
	font-family : "MS Serif", "New York", serif;
	font-size : large;
	font-weight : bold;
}

.tbItemLink {
	cursor:default;
	padding:0px;
	margin:0px;
	text-align : center;
	width : 150px;
	font-family : "MS Serif", "New York", serif;
	font-size : large;
	font-weight : bold;
}
.tbSubItemLink {
	cursor:select;
	padding:0px;
	margin:0px;
	border: 1px solid #8b583d;
	background-color : #FFFFF0;
	text-align : center;
	width : 150px;
	color : #8b583d;
}
.tbSubItemLinkSelected {
	cursor:pointer;
	padding:0px;
	margin:0px;
	width: 150px;
	border: 1px solid #FF8C00;
	background-color: #8b583d;
	color : White;
	text-align : center;
}
